<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/style.css">
    <title>Home</title>
</head>

<body>
    <header>
        <h1 class="heading">MOVIEMAGIC</h1>

    </header>
    <main>
        <div class="movieList">

            <% movieList.forEach(singleMovie=> { %><figure>
                    <a href="/movie/<%- singleMovie.id %>">
                        <img src="https://image.tmdb.org/t/p/w200<%- singleMovie.poster_path %>" alt="Poster">
                    </a>
                    <figcaption>
                        <p class="main">
                            <%- singleMovie.original_title %>
                        </p>
                    </figcaption>
                </figure>
                <%}) %>


        </div>
    </main>
    <footer>
        <p class="mainFooter"><span> <a class="<%- pages==1 ? 'hidden pageNumber': 'pageNumber' %> "
                    href="/<%- pages-1 %>">
                    ←
                </a></span>Page <%- pages %> <span><a class=" pageNumber" href="/<%- pages+1 %>">→</a></span>

        </p>


    </footer>

</body>

</html>